* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  background-image: url("../Images/bg_image.jpg");
  /* background-image: url("https://thumbs.dreamstime.com/b/retro-vintage-red-bike-cobblestone-street-old-town-color-black-white-charming-bicycle-concept-62793570.jpg"); */
  /* height: 100%; */
  /* min-height: 500px; */
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: gray; */
}

.logo {
  height: 5rem;
  width: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  position: initial;
}
.nav-item {
  margin: 0px 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.navbar {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  background-color: hsla(247, 88%, 10%, 0.918);
  color: azure;
  width: 50%;
  height: 100vh;
  margin: 1rem;
  padding: 20px 20px;
  border: 2px solid #333c83;
  border-radius: 0.25rem;
  align-self: center;
}

.element {
  width: 100%;
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
/* p {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
} */
.answer,
.skill-answer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  font-size: larger;
}
.input-place,
button {
  width: 100%;
  color: black;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: inherit;
}
button:hover {
  background-color: hsla(247, 88%, 10%, 0.918);
  color: white;
  border-radius: 0.25rem;
  border: 1px solid whitesmoke;
}
[type="checkbox"],
[type="radio"] {
  margin: 0.5rem;
  transform: scale(1.5);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
  width: 100%;
  height: 20vh;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
#contacts a {
  padding: 2em;
}
@media (max-width: 650px) {
  header {
    height: auto;
  }
  .navbar ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar {
    margin: 0px;
  }
  .navbar ul li {
    text-align: center;
  }
  .logo {
    height: 4rem;
    width: auto;
  }
  .content {
    width: 100%;
  }
  form {
    width: 100%;
  }
}
