* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body,
html {
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
  font-family: Roboto Slab;
  height: 100%;
  background-color: gray;
}

header {
  background-image: url("../Images/bg_image.jpg");
  /* background-image: url("https://thumbs.dreamstime.com/b/retro-vintage-red-bike-cobblestone-street-old-town-color-black-white-charming-bicycle-concept-62793570.jpg"); */
  height: 100%;
  /* min-height: 500px; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo {
  height: 5rem;
  width: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
  position: initial;
}
.nav-item {
  margin: 0px 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.navbar {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
footer {
  background-color: black;
  color: whitesmoke;
}

.mrg1,
.mrg2 {
  width: 70%;
  margin: auto;
  display: flex;
}

.mrg1 img {
  width: 50%;
  padding: 0px;
  margin: 0px;
}

.mrg2 img {
  width: 100%;
  height: 100%;
}

.welcome {
  background-color: whitesmoke;
  height: 70vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
}
h5 {
  font-size: xx-large;
  width: 50%;
  margin: auto;
  font-weight: 800;
}
h4 {
  text-align: center;
  text-shadow: 5px;
  text-decoration: underline;
}

.content {
  background-color: white;
}

@media (max-width: 650px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  header {
    height: auto;
  }
  .navbar ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .navbar {
    margin: 0px;
  }
  .navbar ul li {
    text-align: center;
  }
  .logo {
    height: 4rem;
    width: auto;
  }
}
